{% extends 'base.html.twig' %}

{% block body %}
    <h1>Eigenschaft list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Bezeichnung</th>
                <th>Beschreibung</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for eigenschaft in eigenschafts %}
            <tr>
                <td><a href="{{ path('eigenschaft_show', { 'id': eigenschaft.id }) }}">{{ eigenschaft.id }}</a></td>
                <td>{{ eigenschaft.bezeichnung }}</td>
                <td>{{ eigenschaft.beschreibung }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('eigenschaft_show', { 'id': eigenschaft.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('eigenschaft_edit', { 'id': eigenschaft.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('eigenschaft_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
