{% extends 'base.html.twig' %}

{% block body %}
    <h1>Eigenschaft</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ eigenschaft.id }}</td>
            </tr>
            <tr>
                <th>Bezeichnung</th>
                <td>{{ eigenschaft.bezeichnung }}</td>
            </tr>
            <tr>
                <th>Beschreibung</th>
                <td>{{ eigenschaft.beschreibung }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('eigenschaft_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('eigenschaft_edit', { 'id': eigenschaft.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
